/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        macroLayer {
            bindings = <&mo 4>;
            key-positions = <37 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp ESCAPE  &kp Q        &kp W       &kp E           &kp R       &kp T        &kp Y    &kp U       &kp I          &kp O       &kp P           &trans
&trans      &hm LCTRL A  &hm LGUI S  &hm LSHFT D     &hm LALT F  &kp G        &kp H    &hm RALT J  &hm RSHFT K    &hm RGUI L  &hm RCTRL SEMI  &kp KP_NUMBER_8
&trans      &kp Z        &kp X       &kp C           &kp V       &kp B        &kp N    &kp M       &kp COMMA      &kp DOT     &kp APOSTROPHE  &tog 1
                                     &kp LEFT_SHIFT  &mo 2       &kp SPACE    &kp RET  &mo 3       &kp BACKSPACE
            >;
        };

        gaming {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Gaming";
            bindings = <
&trans  &kp TAB    &kp Q  &kp W   &kp E   &kp R        &kp T    &kp Y   &kp U   &kp I      &kp O  &trans
&trans  &kp LSHFT  &kp A  &kp S   &kp D   &kp F        &kp G    &kp H   &kp J   &kp K      &kp L  &trans
&trans  &kp LCTRL  &kp Z  &kp X   &kp C   &kp V        &kp B    &kp N   &kp M   &kp GRAVE  &kp P  &trans
                          &trans  &trans  &kp SPACE    &kp RET  &trans  &trans
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |  '  |  <  |  >  |  "  |  .  |   |  |  |  :  |  (  |  )  |  ?  |  ~   |
            // | SHFT |  ^  |  /  |  *  |  \  |  _  |   |  ~  |  $  |  {  |  }  |  @  | ESC  |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&trans  &kp APOSTROPHE  &kp LESS_THAN  &kp GREATER_THAN  &kp DOUBLE_QUOTES  &kp PERIOD    &kp AMPS   &trans     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PERCENT  &trans
&trans  &kp EXCL        &kp MINUS      &kp PLUS          &kp EQUAL          &kp POUND     &kp PIPE   &kp COLON  &kp LPAR          &kp RPAR           &kp QMARK    &trans
&trans  &kp CARET       &kp FSLH       &kp ASTRK         &kp BSLH           &kp UNDER     &kp TILDE  &kp DLLR   &kp LBRC          &kp RBRC           &kp AT       &trans
                                       &trans            &trans             &kp SPACE     &kp RET    &trans     &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | CTRL | F1  | F2  | F3  | F4  | F5  |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT | F6  | F7  | F8  | F9  | F10 |   | F11 | F12 |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5       &kp N6    &kp N7    &kp N8  &kp N9     &kp N0  &trans
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5       &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10      &kp F11   &kp F12   &trans  &trans     &trans  &trans
                        &trans  &trans  &kp SPACE    &kp RET   &trans    &trans
            >;
        };

        macros {
            // -----------------------------------------------------------------------------------------
            // |  TAB | ESC |     |     |     |     |   |     | PRSC |     |     | DEL | BKSP |
            // | CTRL |     |     | SHFT| ALT |     |   |     | TAB  | TOG1|     |     |  '   |
            // | SHFT | BT1 | BT2 | BT3 | BT4 | BT5 |   |     |      |     |     | CLR | ESC  |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Macros";
            bindings = <
&trans  &kp ESC       &trans        &trans        &trans        &trans          &trans   &kp PSCRN  &trans    &trans  &kp DEL     &trans
&trans  &trans        &trans        &kp LSHFT     &kp LALT      &trans          &trans   &kp TAB    &trans    &trans  &trans      &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans   &trans     &trans    &trans  &bt BT_CLR  &trans
                                    &kp LGUI      &trans        &kp SPACE       &kp RET  &trans     &kp RALT
            >;
        };
    };
};
